# .gitignore

node_modules
dist
build

apps/*/node_modules
apps/*/dist
apps/*/build
packages/*/node_modules
packages/*/dist
packages/*/build

.nx/cache/
.nx/cache
.nx/cache/run.json
.nx/cache/nx-console-project-graph/static/environment.js

storybook-static